<html>
<body>
    <h1>{{saying.content}}</h1>
    <p>
        Number of times this has been requested: {{saying.id}}
    </p>
    <ul>
        {{#links}}
            <li><a href="{{href}}">{{rel}}</a></li>
        {{/links}}
    </ul>
</body>
</html>
